<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net462" requireReinstallation="true" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
  <package id="PropertyTools" version="3.1.0" targetFramework="net462" />
  <package id="PropertyTools.Wpf" version="3.1.0" targetFramework="net462" />
  <package id="QuickConverter" version="1.2.5" targetFramework="net461" />
  <package id="SoftFluent.Windows" version="1.0.1.6" targetFramework="net462" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
  <package id="Tonic.UI.EnumSource" version="1.1.0" targetFramework="net462" />
  <package id="WpfAutoGrid" version="1.4.0.0" targetFramework="net462" />
</packages>